*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
.container{
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0rem 1rem 0rem;
}
form select,input,button{
    border: none;
    outline: none;
    width: 100%;
}
form input{
    border: 1px solid lightgrey;
    padding-left: 0.5rem;
    font-size: 1rem;
    height: 3rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width:6rem;
    border: 1px solid lightgrey;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0rem 2rem 0rem;
    font-size: 1.5rem;
}
form button{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    border-radius: 0.5rem;
    cursor: pointer;
}